body {
  margin: 0;
} 

.container {
  width: auto;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.header {
  width: 100vw;
  height: 10vh;
}

.content {
  display: flex;
  height: 89.7vh;
}



