
.container {
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  z-index: -1;
  overflow: auto;
}

.header {
  grid-row: 1 / 4;
  z-index: 1;
  background-color: rgb(255, 73, 60);
}

.content {
  grid-row: 4 / 50;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
