.edit-page-container {
    width: 50vw;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    color: black;
    /* Light background for better contrast */
}

.edit-header {
    padding: 1rem;
    background-color: #34495e;
    /* A vibrant header color */
    color: #ffffff;
    display: flex;
}
.edit-header header {
    margin-right: 20px;
    background-color: #34495e;
    /* A vibrant header color */
    color: #ffffff;
    display: flex;
    font-size: large;
    font-weight: 600;
}

.edit-header-buttons button {
    margin: 0px 10px 10px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #34495e;
    color: white;
    transition: background-color 0.2s ease;
    border: solid black 1px;
}

.edit-header-buttons button:hover {
    background-color: #0056b3;
}

.edit-content {
    padding: 20px;
    background-color: #ffffff;
    /* White background for the content */
}

.edit-exercise-header {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.edit-format-display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.edit-sets,
.edit-increment-sets,
.edit-decrement-sets {
    display: flex;
    align-items: center;
}

.edit-increment-sets button,
.edit-decrement-sets button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-increment-sets button:hover,
.edit-decrement-sets button:hover {
    background-color: #218838;
}

.edit-log-table-container {
    width: 100%;
    overflow-x: auto;
}

.edit-log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.edit-log-table th,
.edit-log-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}

.edit-log-table th {
    background-color: #34495e;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}