
.program-page-container {
    width: 50vw;
    height: 86vh;
    border-top: solid rgb(0, 0, 0) 1.5px;
    overflow-y: auto;
    background-color: #2c3e50;
}

.program-content { 
    display: flex;
    flex-flow: column;
justify-content: center;
align-items: center;
  gap: 20px;
  padding: 20px;
}

.program-page-header {
  display: flex;
  color: white;
  font-size: 24px;
  margin-top: 20px;
  background-color: #2c3e50;
  border-bottom: #ffffff solid 1px;
}



.program-cards { 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.program-card {
background-color: #34495e;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ecf0f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.program-card:hover {
  transform: scale(1.03);
  background-color: #2c3e50;
}

.program-card-left,
.program-card-expected,
.program-card-buttons,
.program-card-logging {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.program-card-title,
.program-card-expected div {
  font-size: 18px;
}

.program-card-expected {
    display: flex;
    flex-flow: column;
    font-size: 80%;
}

.program-card-buttons button {
  padding: 8px 12px;
  background-color: #1abc9c;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}
.program-card-buttons button:hover {
  background-color: #148d75;
}

.program-card-logging {
    display: flex;
    margin: 3%;
}

.exercise-table {
    width: 20%;
    height: 100%;
  }
  
  .exercise-table th, .exercise-table td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
    width: 33.33%;
  }
  
  .exercise-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .exercise-table tbody tr:hover, th:hover{
    background-color: #148d75;
  }

  .program-bottom {
    margin: 2%;
}

  .program-notes {
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;

  }

  .program-submit {
    display: flex;
    justify-content: end;
    margin: 3%;
  }





